version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=comidadb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
  web:
    build: .
    command: gunicorn comida_al_paso.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/comidadb
    depends_on:
      - db
volumes:
  pgdata:
